<div class="inner">
    <ul>
        <li><a href="#">Darkness</a></li>
        <li><a href="#">Goddes</a></li>
        <li><a href="#">Employee</a></li>
        <li><a href="#">Berry</a></li>
        <li><a href="#">Roosters</a></li>
        <li><a href="#">Primero</a></li>
    </ul>
</div>