<div class="inner">
    <ul>
        <li><a href="#">ThemiFly 1</a></li>
        <li><a href="#">ThemiFly 2</a></li>
        <li><a href="#">ThemiFly 3</a></li>
        <li><a href="#">ThemiFly 4</a></li>
        <li><a href="#">ThemiFly 5</a></li>
        <li><a href="#">ThemiFly 6</a></li>
    </ul>
</div>