<div class="post-author">
    {{#author-image}}
    <img src="{{author-image}}" alt="Image">
    {{/author-image}}
    {{^author-image}}
    <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Image"/>
    {{/author-image}}
    <span>by <a href="{{author-link}}">{{author}}</a></span>
</div>