<ul>
    <li><a href="https://www.facebook.com/angelo.geminiani"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://twitter.com/angelogeminiani"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/in/angelogeminiani/"><i class="fab fa-linkedin-in"></i></a></li>
</ul>