<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#75dab4"/>

    <title>{{site-title}}</title>
    <meta name="author" content="{{site-author}}">
    <meta name="description" content="{{site-description}}">
    <meta name="keywords" content="{{site-keywords}}">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="{{og-description}}">
    <meta property="og:image" content="{{og-image}}">
    <meta property="og:site_name" content="{{og-site_name}}">
    <meta property="og:title" content="{{og-title}}">
    <meta property="og:type" content="{{og-type}}">
    <meta property="og:url" content="{{og-url}}">

    <!-- TWITTER META -->
    <meta name="twitter:card" content="{{twitter-card}}">
    <meta name="twitter:site" content="{{twitter-site}}">
    <meta name="twitter:creator" content="{{twitter-creator}}">
    <meta name="twitter:title" content="{{twitter-title}}">
    <meta name="twitter:description" content="{{twitter-description}}">
    <meta name="twitter:image" content="{{twitter-image}}">

    <!-- FAVICON FILES -->
    <link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
    <link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="ico/favicon.png" rel="shortcut icon">

    <!-- CSS FILES -->
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/fancybox.min.css">
    <link rel="stylesheet" href="css/hamburger.min.css">
    <link rel="stylesheet" href="css/odometer.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="preloader">
    <div class="layer"></div>
    <!-- end layer -->
    <div class="inner">
        <figure><img src="images/preloader.gif" alt="Image"></figure>
        <span>Site Loading</span></div>
    <!-- end inner -->
</div>
<!-- end preloader -->
<div class="page-transition">
    <div class="layer"></div>
    <!-- end layer -->
</div>
<!-- end page-transition -->
<nav class="site-navigation">
    <div class="layer"></div>
    <!-- end layer -->
    <div class="inner">
        <ul data-splitting>
            <li><a href="index.html">HOME</a><i class="fas fa-caret-down"></i> <small>First page</small>
                <ul>
                    <li><a href="index.html">HOME SLIDER</a></li>
                    <li><a href="index-video.html">HOME VIDEO</a></li>
                    <li><a href="index-carousel.html">HOME CAROUSEL</a></li>
                </ul>
            </li>
            <li><a href="studio.html">STUDIO</a> <small>All About Us</small></li>
            <li><a href="showcases.html">SHOWCASES</a> <small>Our all projects</small></li>
            <li><a href="blog.html">BLOG</a> <small>Recent posts</small></li>
            <li><a href="contact.html">CONTACT</a> <small>Say hello</small></li>
        </ul>
    </div>
    <!-- end inner -->
</nav>
<!-- end site-navigation -->
<div class="social-media">
    <div class="layer"></div>
    <!-- end layer -->
    <div class="inner">
        <h5>Social Share </h5>
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>
</div>
<!-- end social-media -->
<div class="all-cases">
    <div class="layer"></div>
    <!-- end layer -->
    <div class="inner">
        <ul>
            <li><a href="#">Darkness</a></li>
            <li><a href="#">Goddes</a></li>
            <li><a href="#">Employee</a></li>
            <li><a href="#">Berry</a></li>
            <li><a href="#">Roosters</a></li>
            <li><a href="#">Primero</a></li>
        </ul>
    </div>
    <!-- end inner -->
</div>
<!-- end all-cases -->
<main>
    <aside class="left-side">
        <div class="logo"><a href="index.html"><img src="images/logo.png" alt="Image"></a></div>
        <!-- end logo -->
        <div class="hamburger" id="hamburger">
            <div class="hamburger__line hamburger__line--01">
                <div class="hamburger__line-in hamburger__line-in--01"></div>
            </div>
            <div class="hamburger__line hamburger__line--02">
                <div class="hamburger__line-in hamburger__line-in--02"></div>
            </div>
            <div class="hamburger__line hamburger__line--03">
                <div class="hamburger__line-in hamburger__line-in--03"></div>
            </div>
            <div class="hamburger__line hamburger__line--cross01">
                <div class="hamburger__line-in hamburger__line-in--cross01"></div>
            </div>
            <div class="hamburger__line hamburger__line--cross02">
                <div class="hamburger__line-in hamburger__line-in--cross02"></div>
            </div>
        </div>
        <!-- end hamburger -->
        <div class="follow-us"> FOLLOW US</div>
        <!-- end follow-us -->
        <div class="equalizer"><span></span> <span></span> <span></span> <span></span></div>
        <!-- end equalizer -->
    </aside>
    <!-- end left-side -->
    <div class="all-cases-link"><span>ALL CASES</span> <b>+</b></div>
    <!-- end all-cases-link -->
    <header class="slider">
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-background="images/slide01.jpg"></div>
                <div class="swiper-slide">
                    <video src="videos/video01.mp4" muted autoplay loop></video>
                </div>
                <div class="swiper-slide" data-background="images/slide02.jpg"></div>
            </div>
            <!-- end swiper-wrapper -->
            <div class="slide-progress"><span>01</span>
                <div class="swiper-pagination"></div>
                <span>03</span></div>
            <!-- end slide-progress -->
            <div class="swiper-button-prev">PREV</div>
            <!-- end button-prev -->
            <div class="swiper-button-next">NEXT</div>
            <!-- end buttin-next -->
        </div>
        <!-- end gallery-top -->
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><span>DISCOVER</span> <a href="#">DISCOVER CASE</a></div>
                <div class="swiper-slide"><span>EXCLUSION</span> <a href="#">DISCOVER CASE</a></div>
                <div class="swiper-slide"><span>EDITIONAL</span> <a href="#">DISCOVER CASE</a></div>
            </div>
            <!-- end swiper-wrapper -->
        </div>
        <!-- end gallery-thumbs -->
    </header>
    <!-- end slider -->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 wow" data-splitting>
                    <h3 class="section-title">HOW WE MAKE <br>
                        USER EXPERIENCES</h3>
                    <a href="#">hello@tourog.com</a></div>
                <!-- end col-5 -->
                <div class="col-lg-7 wow" data-splitting>
                    <p>You can't use up creativity. The more you use, the
                        more you have in your signifant mind.</p>
                    <h6>Salvador Dali</h6>
                    <small>Digital Artisit</small> <b>25</b>
                    <h4>YEARS OF<br>
                        DIGITAL EXPERIENCE</h4>
                </div>
                <!-- end col-7 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end intro -->
    <section class="intro-image">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="office-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <figure class="reveal-effect masker wow"><img src="images/office01.jpg" alt="Image">
                                    <figcaption>
                                        <h6> HEADQUARTOR OF TOUROG</h6>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- end swiper-slide -->
                            <div class="swiper-slide">
                                <figure><img src="images/office02.jpg" alt="Image">
                                    <figcaption>
                                        <h6> TORONTO OFFICE</h6>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- end swiper-slide -->
                            <div class="swiper-slide">
                                <figure><img src="images/office03.jpg" alt="Image">
                                    <figcaption>
                                        <h6> HEADQUARTOR OF TOUROG</h6>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- end swiper-slide -->
                        </div>
                        <!-- end swiper-wrapper -->
                        <div class="swiper-pagination"></div>
                        <!-- end swiper-pagination -->
                    </div>
                    <!-- end office-slider -->
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end intro-image -->
    <section class="icon-content-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 wow" data-splitting>
                    <h3 class="section-title">THE THINGS<br>
                        WE ARE ABLE TO DO</h3>
                </div>
                <!-- end col-12 -->
                <div class="col-lg-3 col-md-4 wow" data-splitting>
                    <div class="content-block">
                        <figure><img src="images/icon01.png" alt="Image"></figure>
                        <h6>DIGITAL PRODUCTS</h6>
                        <ul>
                            <li>Digital Branding</li>
                            <li>Web & Mobile Sites</li>
                            <li>User Interface Design</li>
                            <li>Responsive Techs</li>
                        </ul>
                    </div>
                    <!-- end content-block -->
                </div>
                <!-- end col-3 -->
                <div class="col-lg-3 col-md-4 wow" data-splitting>
                    <div class="content-block selected">
                        <figure><img src="images/icon02.png" alt="Image"></figure>
                        <h6>UI-UX DESIGN</h6>
                        <ul>
                            <li>Digital Strategy</li>
                            <li>User Experience Design</li>
                            <li>User Interface Design</li>
                            <li>Mobile Sites</li>
                        </ul>
                    </div>
                    <!-- end content-block -->
                </div>
                <!-- end col-3 -->
                <div class="col-lg-3 col-md-4 wow" data-splitting>
                    <div class="content-block">
                        <figure><img src="images/icon03.png" alt="Image"></figure>
                        <h6>WEB DEVELOPMENT</h6>
                        <ul>
                            <li>Custom Platform</li>
                            <li>Back-End Executions</li>
                            <li>Interface Apps</li>
                            <li>Mobile Systems</li>
                        </ul>
                    </div>
                    <!-- end content-block -->
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end icon-content-block -->
    <section class="works">
        <ul>
            <li>
                <figure class="reveal-effect masker wow"><a href="images/works01.jpg" data-fancybox><img
                        src="images/works01.jpg" alt="Image"></a></figure>
                <div class="caption wow" data-splitting>
                    <h3>Darkness Vehicle</h3>
                    <small>DIGITAL, PRINT, DEVELOPMENT</small></div>
                <!-- end caption -->
            </li>
            <li>
                <figure class="reveal-effect masker wow"><a href="images/works02.jpg" data-fancybox><img
                        src="images/works02.jpg" alt="Image"></a></figure>
                <div class="caption wow" data-splitting>
                    <h3>Goddes Cover Art</h3>
                    <small>PRINT, DIGITAL, DEVELOPMENT</small></div>
                <!-- end caption -->
            </li>
            <li>
                <figure class="reveal-effect masker wow"><a href="images/works03.jpg" data-fancybox><img
                        src="images/works03.jpg" alt="Image"></a></figure>
                <div class="caption wow" data-splitting>
                    <h3>Hard Employee</h3>
                    <small>WEB, DIGITAL, DEVELOPMENT</small></div>
                <!-- end caption -->
            </li>
            <li>
                <figure class="reveal-effect masker wow"><a href="images/works04.jpg" data-fancybox><img
                        src="images/works04.jpg" alt="Image"></a></figure>
                <div class="caption wow" data-splitting>
                    <h3>Sweet Berry Pie</h3>
                    <small>DIGITAL, PRINT, DEVELOPMENT</small></div>
                <!-- end caption -->
            </li>
            <li>
                <figure class="reveal-effect masker wow"><a href="images/works05.jpg" data-fancybox><img
                        src="images/works05.jpg" alt="Image"></a></figure>
                <div class="caption wow" data-splitting>
                    <h3>King of Roosters</h3>
                    <small>PRINT, DIGITAL, DEVELOPMENT</small></div>
                <!-- end caption -->
            </li>
            <li>
                <figure class="reveal-effect masker wow"><a href="images/works06.jpg" data-fancybox><img
                        src="images/works06.jpg" alt="Image"> </a></figure>
                <div class="caption wow" data-splitting>
                    <h3>Primero Car</h3>
                    <small>WEB, DIGITAL, DEVELOPMENT</small></div>
                <!-- end caption -->
            </li>
        </ul>
    </section>
    <!-- end works -->
    <section class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 wow" data-splitting>
                    <h3 class="section-title">AGENSY PROUD<br>
                        IS QUALITY OF<br>
                        PARTNERS</h3>
                </div>
                <!-- end col-5 -->
                <div class="col-lg-7">
                    <ul>
                        <li class="reveal-effect masker wow"><img src="images/logo01.png" alt="Image"></li>
                        <li class="reveal-effect masker wow"><img src="images/logo02.png" alt="Image"></li>
                        <li class="reveal-effect masker wow"><img src="images/logo03.png" alt="Image"></li>
                        <li class="reveal-effect masker wow"><img src="images/logo04.png" alt="Image"></li>
                        <li class="reveal-effect masker wow"><img src="images/logo05.png" alt="Image"></li>
                        <li class="reveal-effect masker wow"><img src="images/logo06.png" alt="Image"></li>
                        <li class="reveal-effect masker wow"><img src="images/logo07.png" alt="Image"></li>
                        <li class="reveal-effect masker wow"><img src="images/logo08.png" alt="Image"></li>
                        <li class="reveal-effect masker wow"><img src="images/logo09.png" alt="Image"></li>
                    </ul>
                </div>
                <!-- end col-7 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end clients -->
</main>
<!-- end main -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
                <h6>LET’S HAVE A TALK ABOUT YOUR PROJECT.</h6>
                <h2>Need more information or want <br>
                    to get in touch?</h2>
                <a href="#" class="link">Get in touch</a></div>
            <!-- end col-12 -->
            <div class="col-12">
                <div class="footer-bar"><span class="copyright">© 2019 Tourog | All Rights Reserved</span> <span
                        class="creation">Site created by <a href="#">Themezinho</a></span></div>
                <!-- end footer-bar -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>
<!-- end footer -->

<!-- JS FILES -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/wow.min.js"></script>
<script src='js/splitting.min.js'></script>
<script src='js/odometer.min.js'></script>
<script src='js/fancybox.min.js'></script>
<script src="js/scripts.js"></script>
</body>
</html>