<div class="widget">
    <h4 class="title">CATEGORIES</h4>
    <ul class="categories">
        {{#categories-all}}
        <li><span>{{val}}</span><a href="#">{{key}}</a></li>
        {{/categories-all}}
    </ul>
</div>
