<ul data-splitting>
    <li><a href="index.html">HOME</a><i class="fas fa-caret-down"></i> <small>First page</small>
        <ul>
            <li><a href="index.html">HOME SLIDER</a></li>
            <li><a href="index-video.html">HOME VIDEO</a></li>
            <li><a href="index-carousel.html">HOME CAROUSEL</a></li>
        </ul>
    </li>
    <li><a href="studio.html">STUDIO</a> <small>All About Us</small></li>
    <li><a href="showcases.html">SHOWCASES</a> <small>Our all projects</small></li>
    <li><a href="blog.html">BLOG</a> <small>Recent posts</small></li>
    <li><a href="contact.html">CONTACT</a> <small>Say hello</small></li>
</ul>