<ul data-splitting>
    <li><a href="index.html">HOME</a><i class="fas fa-caret-down"></i> <small>My Home Page</small>
        <ul>
            <li><a href="index.html">MY SLIDER HOME</a></li>
            <li><a href="index-video.html">MY VIDEO HOME</a></li>
            <li><a href="index-carousel.html">MY CAROUSEL HOME</a></li>
        </ul>
    </li>
    <li><a href="studio.html">THEMIFLY</a> <small>All About Us</small></li>
    <li><a href="showcases.html">SAMPLE CODE</a> <small>Our all projects</small></li>
    <li><a href="blog-1.html">BLOG</a> <small>Recent posts</small></li>
    <li><a href="contact.html">CONTACT</a> <small>Say hello</small></li>
</ul>