<ul class="pagination">
    <li class="page-item">
        <a class="page-link" href="{{blog-page-prev}}" tabindex="-1">PREV</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="{{blog-page-next}}">NEXT</a>
    </li>
</ul>